body {
    margin: 0 0;
}

.nav-bar {
    background-color: rgba(0, 0, 0, 0.726);
    height: 60px;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.295);
}

.nav-bar {
    display: grid;
    grid-template: 1fr / repeat(5, 100px);
    padding-right: 20px;
}

.nav-bar>a {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-top: 2px;
    justify-content: center;
    transition: all 110ms ease-in;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Phudu', 'Roboto Condensed', Helvetica, sans-serif;
}

.nav-bar>a:hover,
.nav-bar>a.currentNav {
    background-color: rgba(141, 141, 141, 0.329);
    color: rgb(255, 255, 255);
}
