:root {
    --page-width: min(80ch, 80vw);
    --text-color: rgb(26, 26, 26);
}

body {
    display: grid;
    grid-template: 1fr / 1fr var(--page-width) 1fr;
}

.nav-bar>a:first-child {
    border: 2px solid transparent;
    border-bottom-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0) !important;
    background-color: rgba(255, 255, 255, 0.185);
}

header {
    grid-column: 1 / -1;
    height: calc(100vh - 60px);
    display: flex;
}
.hero-image {
    flex-grow: 1;
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    background: linear-gradient(112.5deg, rgb(95, 0, 135) 11.4%, rgb(164, 80, 139) 60.2%);
}

.svg {
    background-image: url(./images/cy.svg);
    aspect-ratio: 1 / 1;
    background-size: cover;
    width: 70%;
    justify-self: center;
    align-self: center;
}

.hero-text {
    padding: 0 20px;
    color: white;
}
.hero-text h1 {
    font-size: max(40px, 4.51vw);
    font-family: Phudu;
}
.hero-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin: 20px 0;
}
.hero-text h3 {
    font-size: 1.2rem;
    margin: 7px 0;
}
.hero-text :not(h1) {
    font-weight: 500;
    font-family: 'Josefin Sans', Ubuntu, 'Roboto Condensed';
}

@media only screen and (max-width: 700px) {
    .hero-image {
        grid-template: 1fr 1fr / 1fr;
        text-align: center;
    }
    .svg {
        height: 85%;
        width: auto;
        align-self: flex-start;
    }
}

main {
    grid-column: 2 / 3;
    font-family: 'PT Sans', 'Open Sans', Roboto, 'Josefin Sans';
    color: var(--text-color);
    font-size: 1rem;
}

main a:link,
main a:visited,
main a:hover,
main a:active {
    text-decoration: underline;
    color: var(--text-color);
}

main h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 100px;
    border-bottom: 1px solid black;
}

footer {
    grid-column: 1 / -1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    margin-top: 50px;
}

footer>h2 {
    font-family: 'Phudu';
    font-size: 2rem;
}

.email:hover {
    cursor: pointer;
}

footer>section {
    display: flex;
    margin-bottom: 50px;
}

footer>section *:not(:link) {
    width: 50px;
    transition: all 100ms ease-in-out;
}

footer>section *:not(:link):hover {
    transform: scale(1.1);
}