.nav-bar>a:first-child {
    border: 2px solid transparent;
    border-bottom-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0) !important;
    background-color: rgba(255, 255, 255, 0.185);
}

body>header {
    grid-column: 1 / -1;
    height: calc(100vh - 60px);
    display: grid;
    grid-template: 2fr 90.47px 3fr / 1fr var(--page-width) 1fr;
    gap: 5px;
}

marquee.heading {
    grid-column: 1 / -1;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.589);
    font-family: 'PT Sans';
    color: black;
}

div.details {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    justify-content: center;
    flex-grow: 1;
}

div.details * {
    margin: 0 0;
}

div.details h3 {
    margin-top: 5px;
}

header>img {
    width: 100%;
    justify-self: center;
    grid-area: 3 / 2 / 4 / 3;
}

body {
    gap: 0;
}

main h2 {
    margin-top: 140px;
}

main {
    grid-row: 3/4;
}

#navigation {
    margin: 150px 0 0 40px;
    grid-area: 3 / 3 / 4 / 4;
}

main img {
    width: 100%;
}

@media only screen and (max-width: 1200px){
    #navigation {
        grid-area: 3 / 1 / 4 / 2;
        margin-left: 10px;
    }
}