:root {
    --page-width: min(80ch, 80vw);
    --text-color: rgb(26, 26, 26);
}

body {
    display: grid;
    grid-template: 1fr / 1fr var(--page-width) 1fr;
    margin: 0 0;
}

.nav-bar {
    grid-column: 1 / -1;
    display: grid;
    grid-template: 1fr / repeat(5, 100px);
    background-color: rgba(255, 255, 255, 0.10);
    height: 60px;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.295);
    overflow: auto;
}

.nav-bar>a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding-top: 2px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Phudu', 'Roboto Condensed', Helvetica, sans-serif;
}

.nav-bar>a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

main {
    grid-column: 2 / 3;
    font-family: 'PT Sans', 'Open Sans', Roboto, 'Josefin Sans';
    color: var(--text-color);
    font-size: 1rem;
}

main h2 {
    font-size: 3rem;
    font-family: 'Josefin Sans';
    margin-top: 100px;
    border-bottom: 1px solid black;
}

main h3 {
    font-size: 1.5rem;
    font-family: 'Josefin Sans';
    margin: 100px 0 10px;
    position: relative;
}

main p{
    font-family: 'PT Sans';
    line-height: 24.96px;
}

main a:link,
main a:visited,
main a:active {
    text-decoration: underline;
    color: var(--text-color);
}
main a:hover {
    text-decoration: none;
    border-bottom: 2px solid rgb(245, 98, 0);
}

.anchor-link:link,
.anchor-link:visited,
.anchor-link:active,
.anchor-link:hover {
    text-decoration: none;
    border-bottom: 0;
    display: flex;
}



footer {
    grid-column: 1 / -1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    margin-top: 50px;
}

footer>h2 {
    font-family: 'Phudu';
    font-size: 2rem;
}

.email:hover {
    cursor: pointer;
}

footer>section {
    display: flex;
    margin-bottom: 50px;
}

footer>section *:not(:link) {
    width: 50px;
    transition: all 100ms ease-in-out;
}

footer>section *:not(:link):hover {
    transform: scale(1.1);
}