@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,500&family=PT+Sans:wght@400;700&family=Phudu:wght@500;700&family=Urbanist:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;700&display=swap');

/*Josh's reset START*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img:not(footer img), picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
/*Josh's reset END*/

:root {
    scroll-behavior: smooth;

    --text-color: rgb(0, 0, 0);
    --nav-tab-height: 40px;
    --mdn-nav-heading: 1.2rem;
    --mdn-nav-links: 0.833rem;
    --aside-h2-margin-bottom: 10px;
    --mdn-h2: 2.48rem;
    --mdn-h3: 1.5rem;
    --main-h2-margin: 2.0866em 0 1.55em;
    --main-h3-margin: 1.42em 0 0.42em;
    --background-color: rgba(0, 156, 104, 0.171);
    --border-color: rgba(0, 189, 173);
    --aside-line-height: 19.92px;
}

body * {
    -webkit-tap-highlight-color: transparent;
}

.nav-bar a.current-page {
    color: white !important;
    text-shadow: 0 0 black;
    transition: background-color 100ms ease-in;
}

main p {
    text-align: justify;
    padding-top: 1ch;
}

body {
    margin: 0 0;
    gap: 40px;
    word-wrap: break-word;
    overflow-x: hidden;
}

.nav-bar {
    grid-area: 1 / 1 / 2 / -1;
    padding-right: 20px;
    background-color: rgb(0 31 90);
    height: 60px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.082);
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 10px;
}

header {
    z-index: 11;
    position: sticky;
    top: -60px;
    transition: all 100ms ease-in;
}

header.up {
    top: 0;
}

.nav-bar__primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.nav-bar__primary-navigation,
.mobile-nav-toggle {
    z-index: 9999;
}

.mobile-nav-toggle {
    display: none;
}

.nav-bar a {
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(148 163 185);
    font-family: 'Urbanist', 'Roboto Condensed', Helvetica, sans-serif;
    font-weight: 500;
    position: relative;
    transition: color 250ms ease-in-out;
}

.nav-bar__primary-navigation a::after {
    content: '';
    position: absolute;
    bottom: -1.0px;
    border-radius: 6rem;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 250ms ease-in;
}

.nav-bar__primary-navigation a:hover {
    color: white;
}

.nav-bar__primary-navigation a:hover::after {
    color: rgb(255, 255, 255);
    transform: scaleX(1);
    transform-origin: left;
}

.nav-bar__logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    max-height:60px;
}

.nav-bar__logo>img {
    height:80px;
}

.nav-bar__banner-text {
    /* font-size: 1.3rem; */
    font-size: clamp(0.80rem, 1.5vw, 1.05rem);
    font-family: 'Urbanist', Helvetica, sans-serif;
    font-weight: 500;
    margin: 0;
    color: white;
    padding-left: 90px;
    max-width: 90%;
    text-align: left;
}

main {
    display: grid;
    grid-template: 1fr / 25fr minmax(300px, 1fr);
    padding: 0 40px;
    gap: 80px 40px;
    font-family: 'PT Sans', 'Open Sans', Roboto, 'Josefin Sans';
    color: var(--text-color);
    font-size: 1rem;
}

main h2 {
    font-size: clamp(1.7rem, 3.51vw, 3rem);
    font-family: 'Josefin Sans';
    margin: var(--main-h2-margin);
    border-bottom: 1px solid black;
}

main h3 {
    font-size: clamp(1.25rem, 2vw, var(--mdn-h3));
    font-family: 'Josefin Sans';
    margin: var(--main-h3-margin);
    position: relative;
}

main p,
footer p {
    font-family: 'PT Sans';
    line-height: 24.96px;
}

.content a,
footer a {
    text-decoration: underline;
    color: var(--text-color);
}

footer a {
    color: white;
}

.content a:hover:not(.anchor-link),
footer p a:hover {
    text-decoration: none;
    border-bottom: 2px solid rgb(245, 98, 0);
}

.anchor-link:link,
.anchor-link:visited,
.anchor-link:active,
.anchor-link:hover {
    text-decoration: none;
    border-bottom: 0;
    display: flex;
}

section,
h2 {
    scroll-margin-top: 100px;
}

footer {
    grid-column: 1 / -1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    margin-top: 320px;
    padding-bottom: 10px;
    min-height: 150px;
}

footer section>h2 {
    font-family: 'Phudu';
    font-size: 2rem;
    text-align: center;
}

.attributions {
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer img {
    width: 50px;
    transition: all 100ms ease-in-out;
}

footer>.contact img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#navigation {
    grid-area: 1 / 2 / -1 / 3;
    position: sticky;
    top: 100px;
    height: fit-content;
    list-style: none;
    margin-top: 133px;
}

#navigation h2 {
    font-family: 'Josefin Sans';
    border-bottom: 0;
    margin: 0 0 10px;
    font-size: var(--mdn-nav-heading);
}

#navigation ul {
    display: grid;
    grid-template: var(--nav-tab-height) / 1fr;
    grid-auto-rows: var(--nav-tab-height);
    padding-left: 12px;
    margin-top: 0;
}

#navigation li {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-left: 1px solid black;
}

#navigation a{
    text-decoration: none;
    color: var(--text-color);
    font-family: 'PT Sans';
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    align-items: center;
    font-size: var(--mdn-nav-links);
    line-height: var(--aside-line-height);
}

#navigation li:hover {
    background-color: var(--background-color);
    border-left: 3px solid var(--border-color);
}

@media only screen and (max-width: 1200px){

    #navigation {
        grid-area: 2 / 1 / 3 / 2 !important;
        margin-left: 10px;
    }

    .content {
        grid-area: 2 / 2 / -1 / 3 !important;
        padding-right: 15px;
    }

    main {
        grid-template: 1fr / 260px 1fr;
        column-gap: 20px!important;
        padding: 0;
    }

    .notifications {
        height: 400px !important;
    }

    #navigation ul {
        padding-left: 0;
    }

    #navigation li {
        padding: 10px 5px;
    }

}

@media only screen and (max-width: 1070px) {

    .nav-bar__primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;
        background-color: rgba(1, 25, 71, 0.95);
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: min(15vh, 6rem) 0 0 2rem;
        transform: translateX(100%);
        transition: transform 250ms ease-out;
        height: 150vh;
    }

    .nav-bar__primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    @supports not (-moz-appearance: none) {
        .nav-bar__primary-navigation {
            backdrop-filter: blur(0.5rem);
            inset: 0 0 0 30%;
            height: 100vh;
        }
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        width: 1.5rem;
        background-size: cover;
        aspect-ratio: 1;
        background-image: url('./images/ham-white.svg');
        background-color: transparent;
        border: 0;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .mobile-nav-toggle[aria-expanded='true'] {
        background-image: url('./images/cross-white.svg');
        position: fixed;
        top: 30px;
    }

    .nav-bar {
        top: 0;
    }
}

@media only screen and (max-width: 860px) {
    #navigation {
        display: none;
    }

    main {
        display: block !important;
    }

    .content {
        padding: 0 15px;
        margin: 40px 0 !important;
    }

    main *:not(.notifications__heading) {
        text-align: left !important;
    }

    main ol {
        padding-left: 25px;
    }

    a.anchor-link:hover::before {
        width: 0;
    }

    header li {
        text-align: left !important;
    }
}