.nav-bar>a:nth-last-child(1) {
    border: 2px solid transparent;
    border-bottom-color: black;
    color: black !important;
    transition: background-color 110ms ease-in;
    background-color: rgba(0, 0, 0, 0.075);
}

:root {
    --nav-tab-height: 60px;
}

body {
    grid-template: 1fr / 1fr 25fr minmax(300px, 1.8fr);
}

main {
    grid-area: 2 / 2 / 3 / 3;
}

h2 {
    line-height: 1.03;
}

main #images {
    display: flex;
    flex-direction: column;
}

.anchor-link:hover::before {
   background-image: url('../../images/link.png');
   content:"";
   position: absolute;
   left: -25px;
   top: -2px;
   background-size: cover;
   width: 18px;
   height: 18px;
}

#images img {
    max-width: min(80vw, 100%);
    margin-top: 30px;
    scroll-margin-top: 100px;
    align-self: center;
}
#images p {
    margin-top: 0;
    padding-bottom: 30px;
}