.nav-bar>a:nth-child(2) {
    border: 2px solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    color: rgb(216, 216, 216) !important;
    transition: background-color 110ms ease-in;
    background-color: rgba(121, 121, 121, 0.075);
}

.anchor-link:hover::before {
   background-image: url('../../images/link.png');
   content:"";
   position: absolute;
   left: -25px;
   top: -2px;
   background-size: cover;
   width: 18px;
   height: 18px;
}

main {
    grid-row: 2 / 3;
}