.anchor-link:hover::before {
   background-image: url('../../images/link.png');
   content:"";
   position: absolute;
   left: -25px;
   top: -2px;
   background-size: cover;
   width: 18px;
   height: 18px;
}

.content p:last-child:not(#project-5 p:last-child) {
    text-align: left;
}