<header>
  <nav class="nav-bar">
    <h2 class="nav-bar__banner-text">
      Advanced Cyber Security Research Lab (School of Technology)
    </h2>
    <ul
      id="primary-navigation"
      class="nav-bar__primary-navigation"
      data-visible="false"
    >
      <li>
        <a href="index.html" class="current-page">Home</a>
      </li>
      <li>
        <a href="pages/project.html">Sponsored Projects</a>
      </li>
      <li>
        <a href="pages/people.html">People</a>
      </li>
      <li>
        <a href="pages/research.html">Academic Research</a>
      </li>
      <li>
        <a href="pages/publications.html">Publications </a>
      </li>
      <li>
        <a href="pages/mou.html">MoU</a>
      </li>
    </ul>

    <button
      class="mobile-nav-toggle"
      aria-controls="primary-navigation"
      aria-expanded="false"
    ></button>

    <span class="nav-bar__logo"><img src="./logo.png" alt="logo" /></span>
  </nav>
</header>
