<header>
  <nav class="nav-bar">
    <h2 class="nav-bar__banner-text">
      Advanced Cyber Security Research Lab (School of Technology)
    </h2>
    <ul
      id="primary-navigation"
      class="nav-bar__primary-navigation"
      data-visible="false"
    >
      <li><button class="current-page home-page">Home</button></li>
      <li><button class="projects-page">Projects</button></li>
      <li><button class="people-page">People</button></li>
      <li><button class="research-page">Academic Research</button></li>
      <li><button class="publications-page">Publications</button></li>
      <li><button class="mou-page">MoU</button></li>
    </ul>

    <button
      class="mobile-nav-toggle"
      aria-controls="primary-navigation"
      aria-expanded="false"
    ></button>

    <span class="nav-bar__logo"><img src="./logo.png" alt="logo" /></span>
  </nav>
</header>
