.anchor-link:hover::before {
  background-image: url("../../assets/icons/link.png");
  content: "";
  position: absolute;
  left: -25px;
  top: -2px;
  background-size: cover;
  width: 18px;
  height: 18px;
}

main {
  grid-area: 2 / 2 / 3 / 3;
}

main p {
  margin-bottom: 0;
}

#international-journals li:nth-child(7) > p :last-child {
  color: red;
  font-style: italic;
}
