@import url("../../layouts/docs.css");

div.content.projects {
  grid-row: 2 / 3;

  .anchor-link:hover::before {
    background-image: url("../../assets/icons/link.png");
    content: "";
    position: absolute;
    left: -25px;
    top: -2px;
    background-size: cover;
    width: 18px;
    height: 18px;
  }
}
